body {
    font-family: 'Overpass', sans-serif;
}

@media(min-width:60em){html{font-size: 130%}}

/* Header */

#logo-backround{
    background: #050029;
    background: linear-gradient(to bottom, #050029 0%, #030066 100%);
    -webkit-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24);
    -moz-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24);
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24);
}

.container-fluid-space{
    margin:5px;
}

.row{
    margin-top: 20px;
    margin-left:0;
    margin-right: 0;
}

.logo{
    width: 27%;
    min-width: 220px;
    max-width: 350px;
}

#div-logo{
    margin: 15px 0 10px 0;
}

.social-logo{
    margin-right: 10px;
    width: 28px;
}

.social-logo:hover{
    filter:drop-shadow(2px 2px 1px);
}

hr {
    margin-top: 30px;
    border-radius: 10px;
    border-width: 4px;
    border-color: #0f0f0f;
}

.dropdown-item{
    margin: 5px 5px;
    width: 135px;
    padding: 6px 20px 6px 10px;
    font-size: 0.9rem;
    font-weight: bold;
    border: #0f0f0f solid 3px;
}

.dropdown-item:hover{
    background-color: #0f0f0f;
    color: white;
}

#active-drop{
    background-color: #0f0f0f;
    color: white;
}

/* Body */

.jumbotron{
    padding-left: 60px;
    position: relative;
    background-color: #ff8e2f;
    -webkit-box-shadow: 7px 7px 25px -2px rgba(0,0,0,0.48);
    -moz-box-shadow: 7px 7px 25px -2px rgba(0,0,0,0.48);
    box-shadow: 7px 7px 25px -2px rgba(0,0,0,0.48);
    border-radius: 10px;
}

.jumbotron>p{
    font-size: 0.9rem;
}

.carousel-inner{
    -webkit-box-shadow: 7px 7px 25px -2px rgba(0,0,0,0.48);
    -moz-box-shadow: 7px 7px 25px -2px rgba(0,0,0,0.48);
    box-shadow: 7px 7px 25px -2px rgba(0,0,0,0.48);
    border-radius: 10px;
}

#kontakti{
    font-size: 1.2rem;
    padding-left: 7%;
}

.col-10{
    margin:auto;
}

#main-text-img{
    padding: 7% 0;
    background-image: url("../images/Speakers4.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;

}

#main-text{
    font-size: 0.85rem;
    line-height: 2;
    color: white;
    margin: 1% 12%;
    text-shadow: gray 1px 1px 1px;
    background-color: rgba(27,29,48,0.78);
    padding: 10px;
    border-radius: 15px;
}

#main-text-h{
    margin: 2% 8%;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: #ff8e2f;
}

.no-padding{
    padding: 0;
}

.no-margin{
    margin: 0;
}

iframe{
    width: 100%;
    height: 550px;
    -webkit-box-shadow: 7px 7px 25px -2px rgba(0,0,0,0.48);
    -moz-box-shadow: 7px 7px 25px -2px rgba(0,0,0,0.48);
    box-shadow: 7px 7px 25px -2px rgba(0,0,0,0.48);
    border-radius: 10px;
}

footer>div{
    color: #c4e3f3;
    list-style: none;
    background-color: #0f0f0f;
    font-size: 0.7rem;
}

.par-mums-script{
    position: relative;
}
